.div{
    height: 100px;
    width: 100px;
    background-image: url('./finance1.png');
}
.div1{
    height: 100px;
    width: 100px;
    background-image: url('./finance2.png');
}
.div2{
    height: 100px;
    width: 100px;
    background-image: url('./finance3.png');
}
