@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1637645625306') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e787";
}

.icon-3column:before {
  content: "\e663";
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-camera:before {
  content: "\e667";
}

